vid 128
list comprehension - with the help of list comprehension we can create list in one line

In [2]:
#without list comprehension
square = []
for i in range(1,11):
    square.append(i**2)
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [4]:
#with list comprehension
square  = [i**2 for i in range(1,11)]
print(square)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
#without list comprehension
negative = []
for i in  range(1,11):
    negative.append(-i)
print(negative
     )

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [9]:
#with list comprehension
new_negative=[-i for i in range(1,11)]
print(new_negative)

[-1, -2, -3, -4, -5, -6, -7, -8, -9, -10]

In [17]:
names = ["harshi",'mohit','rohit']
new_names = [i[0] for i in names]
print(new_names)

['h', 'm', 'r']

In [18]:
#exercise 1 
names = ["harshi",'mohit','rohit']
new_names = [i[::-1] for i in names]
print(new_names)

['ihsrah', 'tihom', 'tihor']

In [19]:
#l=vid 131 ,list comprehension with if statement #even num
nums=[]
for i in range(1,10):
    if i%2==0:
        nums.append(i)
print(nums)

[2, 4, 6, 8]

In [2]:
#now usinf list comprehension
nums = [i for i in range(1,10) if i %2 == 0 ]
print(nums)

[2, 4, 6, 8]

In [25]:
#exercise 2 , vid 132
l=[]
def check(l1):
    for i in l1:
        if (type(i)==int or type(i)==float):
            l.append(str(i))
    return l

list1=[True,[1,2,3],{1,2},1,1.2,6]
var=check(list1)
print(var)

['1', '1.2', '6']

In [28]:
def check(l):
    return [str(i) for i in l if (type(i)==int or type(i)==float) ]
list1=[True,[1,2,3],{1,2},1,1.2,6]
newlist=check(list1)
print(newlist)

['1', '1.2', '6']

In [32]:
#vid 134 List comprehension with if else - isme if , else pehle likhenge phir for loop chalega
nums = [1,2,3,4,5,6,7,8,9,10]
new_list = []
for i in nums:
    if i % 2==0:
        new_list.append(i*2)
    else:
        new_list.append(-i)
print(new_list)

[-1, 4, -3, 8, -5, 12, -7, 16, -9, 20]

In [33]:
nums = [1,2,3,4,5,6,7,8,9,10]
new_list2 = [i*2 if (i % 2 == 0) else -i for i in nums]
print(new_list2)

[-1, 4, -3, 8, -5, 12, -7, 16, -9, 20]

In [41]:
#nested list comprehension  , vid 135 
#example = [[1,2,3],[1,2,3],[1,2,3]]
l=[ [i for i in range(1,)] for j in range(1,4) ]
print(l)

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]